<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Header Parser</title>
</head>
<body>
    <h1>API Project: Request Header Parser Microservice</h1>
    <label>Example Usage</label>
    <a id="link-block" href="">[base url]/api/whoami</a>
    <label>Example Output</label>
    <p>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
        "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</p>
</body>
</html>